// 文字色
$color-TL0: rgba(255,255,255,1);
$color-TL1: rgba(255, 255, 255, 0.9);
$color-TL2: rgba(255, 255, 255, 0.75);
$color-TL3: rgba(255, 255, 255, 0.60);
$color-TL4: rgba(255, 255, 255, 0.45);
$color-TL5: rgba(255, 255, 255, 0.25);

// 背景色
$color-B1: #424242;
$color-B2: #333333;
$color-B3: #292929;
$color-B4: #1F1F1F;
$color-B5: #121212;